<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.runtime.js"></script>
  <link rel="stylesheet" href="/css/textbook-style.css">
  <link rel="stylesheet" href="/css/home-style.css">
  <link rel="stylesheet" href="/css/sell_page-style.css">
  <link rel="stylesheet" href="/css/create_post.css">
  <link rel="stylesheet" href="/css/404.css">
  <link rel="stylesheet" href="/css/page7.css">
  <link rel="stylesheet" href="/style.css">
  <script src="/css/home.js" defer></script>
  <script src="/css/post.js" defer></script>
  <script src="/js/book-search.js" defer></script>
  <script src="/js/create_post.js" defer></script>
  <title>Document</title>
</head>

<body>
  <nav>
    <div class="nav-container">
      <div class="container">
        <div class="nav-logo">
          <a href="/index.html">Textbook Buddy</a>
        </div>
        <div class="nav-elements">
          <ul>
            <li><a href="#">What's Textbook Buddy?</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div id="results">
    <div class="result-container">
      {{{body}}}
    </div>
  </div>
</body>

</html>