<main class="error-container">
  <h2>Oops! Looks like your ISP just shut down your Internet</h2>
  <h3>Just kidding.. The page you're looking for doesn't exist. Let me take you home</h3>
  <button type=button class="btn primary-color" id="error-btn">Home</button>
</main>