<body>
    <main class="content">
        <header id="title-bar-container">
            <div class="books-info-container">
                <div class="title-container" id="books-info">
                    <img src="" alt="Textbook img">
                    <button type="button" id="sellBook-action-button" class="sell-button">Sell Your Book</button>
                </div>
            </div>
        </header>
        <section id="post">
            {{#each postList}}
            {{>bookPost}}
            {{/each}}
        </section>
    </main>
</body>