<div id="no-post-container" data-isbn={{isbn}}>
  <h3 class="no-post-message">No one is selling this book. Hurry up and sell yours now!</h3>
  <div id="sell-button">
    <button class="btn sell-btn">Sell It Now</button>
  </div>
</div>