<main class="post-list-container">
  <div id="post-header" data-isbn={{isbn}}>
    <div class="book-container">
      <div class="book-cover">
        <img src="{{img}}" alt="">
      </div>
      <div class="book-info">
        <div class="title-container">{{title}}</div>
        <div class="author-container">{{author}}</div>
      </div>
    </div>
    <div id="sell-button">
      <button type="button" class="btn primary-color sell-btn">Sell This Book</button>
    </div>
  </div>


  <section id=" posts">
    {{#each postList}}
    {{> user-post}}
    {{/each}}
  </section>
</main>