<div>
    <main class="searchPost-container">
        <div class="searchPost-text" id="search-title">
            <h2>Sell a book</h2>
        </div>
        <div class="searchPost-container">
            <div class="search-class">
                <label for="search-class" class="searchPost-input-label">Class</label>
                <div class="search-post-element">
                    <input type="text" name="search-text" id="search-text" class="search-input"
                        placeholder="Enter your class">
                </div>
            </div>
        </div>
        <div class="searchPost-container">
            <div class="search-footer">
                <button type="button" id="search-action-button" class="search--button">🡪</button>
            </div>
        </div>
    </main>