.content {
  max-width: 65%;
  margin: auto;
}

.course-name-container {
  margin: 2rem;
  font-size: 1rem;
}

.create-post-container {
  margin-bottom: 32px;
  border: 1px solid #2699fb;
  display: flex;
  align-items: center;
}

.create-post-label {
  width: 100px;
  padding: 10px 20px;
  background-color: #2699fb;
  color: white;
}

.create-post-element {
  padding-left: 10px;
}

.create-post-container:nth-child(6) .create-post-label{
  width: 125px;
}

/* input,
select,
textarea {
    color: #50a3e3;
}

.course-name {
    color: #2699fb;
    font-size: x-large;
    font-weight: 100;
}

.create-post-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 35px;
    padding: 10px;
}

/* better-sell-page */

/* .create-input {
    font-size: 14px;
    width: 500px;
    height: 29px;
    padding: 2px;
    margin: 0 auto;
    border: 1px solid #9ed2fd;
}

#isbn-text {
    display: flex;
    color: grey;
    text-transform: uppercase;
    text-align: center;
    font-size: small;
    padding: 10px;
}
#title-text {
    display: flex;
    color: grey;
    text-transform: uppercase;
    text-align: center;
    font-size: small;
    padding: 10px;
}
#author-text {
    display: flex;
    color: grey;
    text-transform: uppercase;
    text-align: center;
    font-size: small;
    padding: 10px;
}

.create-input-label {
    background-color: #2699fb;
    text-transform: uppercase;
    font-size: small;
    color: white;
    padding: 10px;
    width: 100px;
}

.create-image-box {
    padding: 20px;
    border: 1px solid #9dd1fd;

}

.create-image-text {
    color: #41a5fb;
    text-transform: uppercase;
    font-size: small;
}

.create-image-container {
    padding: 5px;
}


#create-back {
    color: white;
    background-color: #f44336;
}

#create-back:hover {
    color: #f44336;
    background-color: white;

}

#create-accept:hover {
    color: #2699fb;
    background-color: white;
}

#create-accept {
    color: white;
    background-color: #2699fb;
}

#isbn-text {
    height: 13px;
}
#title-text {
    height: 13px;
}
#author-text {
    height: 13px;
}

#create-condition {
    height: 34px;
} */