input, select, textarea, button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

*:focus {
  outline: none;
}

.content {
  max-width: 600px;
  margin: auto;
}

.course-name-container {
  margin: 2rem;
  font-size: 1rem;
}

.create-post-container {
  margin-bottom: 32px;
  border: 1px solid #2699fb;
  display: flex;
  align-items: center;
  height: 48px;
  width: 100%;
}

.create-post-label {
  width: 60px;
  height: 48px;
  padding: 0px 20px;
  background-color: #2699fb;
  color: white;
  line-height: 48px;
}

.create-input {
  border: none;
  width: 435px;
}

.create-post-element {
  padding-left: 10px;
}

/* Condition field */

.create-post-container:nth-child(4) {
  border: none;
}

.create-post-container:nth-child(4) .create-post-label {
  width: 90px;
}

.create-post-container:nth-child(4) .create-post-element {
  width: 200px;
  height: 48px;
  padding: 0;
  /* border: 1px solid #2699fb; */
}

/* Dropdown condition */

.create-post-container:nth-child(4) select {
  width: 100%;
  height: 100%;
  border: 1px solid #2699fb;
  padding-left: 25px;
  background-color: #fff;
}

/* Price */

.create-post-container:nth-child(5) .create-post-element {
  height: 48px;
  /* width: 100%; */
  border: none;
}

.create-post-container:nth-child(5) .create-post-label::after {
  content: '$';
  margin-left: 45px;
  color: #2699fb;
  z-index: 10;
  position: relative;
  font-size: 22px;
}

.create-post-container:nth-child(5) input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 20px;
}

/* Meetup info field */

.create-post-container:nth-child(6) .create-post-label {
  width: 130px;
}

.create-post-container:nth-child(6) .create-post-container:nth-child(7) input {
  border: none;
}

/* Description */

.create-post-container:nth-child(7) .create-post-label {
  width: 150px;
}

/* Buttons */

.button-group {
  margin-top: 200px;
  width: 600px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

#create-back {
  background-color: #f3444a;
  color: #fff;
}

#create-back:hover {
  background-color: #ee6e73;
}