/* Page 7 */
main.content-page7 {
  display: flex;
  align-self: center;
  margin: 10%;
  margin-top: 50px;
  width: 50%
}

div.left-side-container {
  min-width: 40%;
  position: relative;
}

div.image-container {
  max-width: 480px;
  max-height: 360px;
}

.image-container img{
  max-width: 480px;
  max-height: 360px;
}

div.ISBN-container {
  position: absolute;
  bottom: 0;
}

div.right-side-container {
  min-width: 60%;
  padding-left: 10%;
}

div.book-title-container {
  display: flex;
  flex-direction: row;
}

.book-price {
  padding: 10px;
  padding-left: 0px;
  font-size: 40px;
  font-weight: bold;
}

.book-description-box {
  border-style: solid;
  border-width: 1px;
  border-color: #A9A9A9;
  min-height: 100px;
}

div.book-title-text {
  font-size: 40px;
}

div.book-edition {
  margin-left: 10px;
  margin-top: auto;
}