/* Page 7 */
main.content-page7 {
  margin-top: 2%;
  display: flex;
}

.img {
  position: relative;
  float: left;
  width:  300px;
  height: 400px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

div.image-container {
  max-width: 300px;
  max-height: 400px;
}

div.left-side-container {
  position: relative;
  margin-left: 20%;
}

div.right-side-container {
  min-width: 40%;
  max-width: 40%;
  padding-left: 5%;
  margin-bottom: auto;
}

.book-title-text {
  font-size: 30px;
}

.book-author {
  font-size: 25px;
  margin-bottom: 1%;
}

.book-price {
  font-size: 25px;
}

div.book-description-box {
  border: rgba(112, 112, 112, 0.67);
  border-style: solid;
  border-width: 1px;
  min-height: 10%;
}