.post-list-container {
  max-width: 1500px;
  margin: auto;
}

/* Post Header */

#post-header {
  max-width: 1000px;
  margin: 40px auto 0;
  display: flex;
  justify-content: space-between;
}

/* book-container */

.book-container {
  display: flex;
  flex-basis: 800px;
}

/* Sell Button */

#sell-button {
  position: relative;
}

#sell-button .sell-btn {
  width: 200px;
  background-color: #1caa46;
  position: absolute;
  /* top: 10px; */
  right: 0px;
}

/* Book info */

.book-cover img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.title-container {
  font-weight: 700;
}

.author-container {
  margin-top: 5px;
  font-size: 15px;
}

/* posts */

.post-container {
  margin-bottom: 10px;
}

.post-content {
  display: flex;
  margin-top: 10px;
}

.book-image-container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.book-info-container {
  padding-left: 25px;
}

.book-price {
  margin: 20px 0;
}

.post-container {
  border-top: 1px solid #333;
}