body {
  font-size: 1.2rem;
  /* background-color: aqua; */
}

h3 {
  margin: 2rem 0;
  text-align: center;
}

#search-results {
  max-width: 1200px;
  margin: auto;
}

#search-results .post {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bbb;
  position: relative;
}

.post-info {
  margin: 2rem 1rem;
  display: flex;
}

/* #search-results .book-cover {
  width: 200px;
  height: 200px;
} */

#search-results .book-cover img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 2rem;
}

.book-info p {
  margin-bottom: 0.5rem;
}

.book-info .book-label {
  /* font-size: 1.2rem; */
  font-weight: 500;
}

.book-info .title {
  font-size: 1.3rem
}

/* Book count box */

#search-results .book-count {
  padding: .7rem 1rem;
  border-radius: 10px;
  height: 25px;
  position: relative;
  top: 140px;
  right: 50px;
}

.yellow {
  border: 1px solid #ebb820;
  color: #ebb820;
}

.red {
  border: 1px solid #F44336;
  color: #F44336;
}

.green {
  border: 1px solid #1CAA46;
  color: #1CAA46;
}